<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base1.html' %}
    {% include 'include.html' %}
    {% load static %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="{% static 'js/datatables.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <title></title>
</head>

<body>
    <div style="padding: 42px;">{% if msz %}
        <h2>{{msg}}</h2>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <h1 style="background-color:pink;padding:14px;text-align:center;">Prescription</h1><br>
            <label> Click the button to view an prescriptions</label><br>


            <select name="prname" class="form-control">

                <option value="{{user.first_name}} {{user.last_name}}">{{user.first_name}}
                    {{user.last_name}}</option>

            </select>


            <input type="submit" value="view prescription" class="in">

        </form><br><br>
        <table class="table" id="example">
            <thead>
                <tr>
                    <th>Patient Name</th>

                    <th>medicine</th>
                    <th>quantity</th>
                    <th>days </th>
                    <th>time </th>
                </tr>

            </thead>
            <tbody>
                {% for i in abc %}
                <tr>
                    <td>{{i.p_name}}</td>

                    <td>{{i.medicine}}</td>

                    <td>{{i.quantity}}</td>
                    <td>{{i.days}}</td>
                    <td>{{i.time}}</td>


                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
    <!--<script src="{% static 'js/jquery.min.js' %}"></script>-->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/back-to-top-scroll.js' %}"></script>
    <script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="{% static 'js/Sidebar-Menu.js' %}"></script>
    <br>
    <div style="background-color:yellow;padding:14px;text-align:center;">
        <a href="{% url 'dsendemail' %}" class="dash">SEND EMAIL TO PATIENT</a>
    </div>

</body>

</html>