<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base1.html' %}
    {% include 'include.html' %}
    {% load static %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="{% static 'js/datatables.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <title></title>
</head>

<body>

    <div style="padding: 40px;"> {% if msz %}
        <h2>{{msg}}</h2>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <h1 style="background-color:pink;padding:14px;text-align:center;">Screening</h1><br>
            <label> Click the button to view an Screening details</label><br>


            <select name="sname" class="form-control">

                <option value="{{user.first_name}} {{user.last_name}}">{{user.first_name}} {{user.last_name}}</option>

            </select>


            <input type="submit" class="btn btn-success" value="view Screening" class="in">

        </form><br><br>

        <table class="table" id="example">
            <thead>
                <tr>
                    <th>Patient Name</th>

                    <th>Symptoms</th>
                    <th>Complains</th>
                    <th>BP </th>
                    <th>Temperature </th>
                    <th>Weight </th>
                    <th>Fever </th>
                    <th>Pain condition </th>
                    <th>Physical Appearence </th>
                    <th>Deformation </th>
                    <th>appetite </th>
                    <th>Sleeep Conditions </th>

                </tr>
            </thead>
            <tbody>
                {% for i in obj %}
                <tr>
                    <td>{{i.patient_name}}</td>

                    <td>{{i.symptoms}}</td>
                    <td>{{i.complains}}</td>
                    <td>{{i.bp}}</td>
                    <td>{{i.temperature}}</td>
                    <td>{{i.weight}}</td>
                    <td>{{i.fever}}</td>
                    <td>{{i.pain_condition}}</td>
                    <td>{{i.physical_appearence}}</td>
                    <td>{{i.Deformation}}</td>
                    <td>{{i.appetite}}</td>
                    <td>{{i.sleep_condition}}</td>


                </tr>
                {% endfor %}
            </tbody>

        </table>
        <br>
    </div>

</body>

</html>