{% extends 'base.html' %}
{% load static %}
{% block section %}

  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Services Area Start ***** -->
  <section class="dentist-area section-padding-50-0">
   <center><h3 class="lead">Our Services</h3></center>

      </br>
    <div class="container">

      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static '2.jpg' %}" style="height:100%; width:150%; "  alt="">
            </div>
            <h5>Dentistry</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'cardiology.jpg' %}"style="height:100%; width:150%; " alt="">
            </div>
            <h5>Cardiology</h5>
            <p>Cardiology is the study and treatment of disorders of the heart and the blood vessels. A person with heart disease or cardiovascular disease may be referred to a cardiologist..</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'ENT.jpg' %}"style="height:100%; width:150%; " alt="">
            </div>
            <h5>ENT Specialists</h5>
            <p>ENT specialists are not only medical doctors who can treat your sinus headache, your child’s swimmer’s ear, or your dad’s sleep apnea. They are also surgeons who can perform extremely delicate operations to restore hearing of the middle ear, open blocked airways, remove head, neck, and throat cancers, and rebuild these essential structures. .</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/123.jpg' %}"style="height:100%; width:150%; " alt="">
            </div>
            <h5>Astrology</h5>
            <p>Astrology is an ancient art that extends WAY beyond your personal horoscopes. The movement and positions of celestial bodies can have a profound impact on your love life, work life, and everything in between! Understanding the patterns of the universe gives you the insight you need to navigate life.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'neuron.jpg' %}"style="height:100%; width:150%; " alt="">
            </div>
            <h5>Neuroanatomy</h5>
            <p>Neuroanatomy is the study of the structure and organization of the nervous system. In contrast to animals with radial symmetry, whose nervous system consists of a distributed network of cells, animals with bilateral symmetry have segregated, defined nervous systems. .</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'physical therapy.jpg' %}"style="height:100%; width:150%; " alt="">
            </div>
            <h5>Physical Therapy</h5>
            <p>Physical therapy (PT), also known as physiotherapy, is one of the healthcare professions. Physical therapy is provided by physical therapists who promote, maintain, or restore health through physical examination, diagnosis, prognosis, patient education, physical intervention, rehabilitation, disease prevention and health promotion..</p>
          </div>
        </div>

          <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'p.jpg' %}"style="height:100%; width:150%; " alt="">
            </div>
            <h5>Eye Doctor</h5>
            <p>An eye doctor is a person who specializes in the examination, treatment, and care of the eyes. The term eye doctor can refer to either an ophthalmologist or an optometrist. Jetta Productions / Getty Images.</p>
          </div>
        </div>

          <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'gp.jpg' %}"style="height:100%; width:150%; " alt="">
            </div>
            <h5>General practitioner</h5>
            <p>a general practitioner (GP) is a medical doctor who treats acute and chronic illnesses and provides preventive care and health education to patients.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Services Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->

{% endblock %}